@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "sans-serif";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$mainBackground: #fff;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	font-size: $fontSize + px;
	font-family: $fontFamily;
	background-color: $mainBackground;
	// background-size: cover;
	// background-repeat: no-repeat;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
*{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.container{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
.section_title { 
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	text-transform: uppercase;
	color: #000000;
	span { 
		color: #3E9CDC;
	}
}
.btn {
	width: 100%;
	max-width: 184px;
	height: 44px;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	border-radius: 4px;
	transition: all 0.5s;
}
.select-label { 
	width: 100%;
	display: block;
	position: relative;
	z-index: 10;
	.select{
		width: 100%;
		.select__title{
			background: rgba(255, 255, 255, 0.85);
			border: 1px solid #FFFFFF;
			border-radius: 3px;
			width: 100%;
			height: 48px;
			padding: 0 10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			transition: all 0.5s;
			.select__value {
				width: 100%;
				padding: 0;
				span{
					font-family: 'Lato';
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 22px;
					height: auto;
					color: #272733;
					transition: all 0.5s;
				}
				&::before{
					width: 20px;
					height: 20px;
					transition: all 0.5s;
				}
			}
		}
		.select__options{
			top: 48px;
			background: rgba(39, 39, 51, 0.9);
			border: 1px solid #3D4050;
			border-radius: 3px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			font-family: 'Lato';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 34px;
			color: #FFFFFF;
			padding: 4px;
			.select-options-box{
				height: 180px;
				overflow: auto;
				&::-webkit-scrollbar{
					width: 8px;
					background: #3D4050;
					border-radius: 3px;
					padding-left: 5px;
				}
				&::-webkit-scrollbar-thumb{
					background: #3E9CDC;
					border-radius: 3px;
				}
				.select__option{
					transition: all 0.5s;
					&:hover{
						background-color: unset;
						color: #42A9ED;
					}
				}
			}
		}
		&._active{
			.select__title{
				background: rgba(61, 64, 80, 0.85);
				border-radius: 3px 3px 0px 0px;
				border: 1px solid transparent;
				.select__value {
					span{
						color: #fff;
					}
					&::before{
						filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(290deg) brightness(104%) contrast(106%);
					}
				}
			}
		}
	}
}
.input-text { 
	width: 100%;
	display: block;
	input { 
		background: rgba(255, 255, 255, 0.85);
		border: 1px solid #FFFFFF;
		border-radius: 3px;
		width: 100%;
		height: 48px;
		padding: 0 10px;
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: #272733;
	}
}
.range { 
	width: 100%;
	.range__text { 
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 16px;
		.range__name { 
			font-family: 'Lato';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			color: #FFFFFF;
		}
		.range__value { 
			font-family: 'Lato';
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 22px;
			color: rgba(255, 255, 255, 0.85);
		}
	}

	.input-range { 
		width: 100%;
		display: block;
		input { 
			appearance: none;
			width: 100%;
			height: 6px;
			background: rgba(255, 255, 255, 0.7);
			border: 1px solid #FFFFFF;
			border-radius: 6px;
			cursor: pointer;
			&::-webkit-slider-thumb{
				appearance: none;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				background: #42A9ED;
				border: 3px solid #286690;
			}
		}
	}
}
.input-file { 
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.85);
	border: 1px solid #FFFFFF;
	border-radius: 3px;
	height: 48px;
	transition: all 0.5s;
	cursor: pointer;
	&:hover{
		background: rgba(189, 186, 186, 0.85);
	}
	input { 
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		opacity: 0;
		cursor: pointer;
	}
	.attachfile-text { 
		font-family: 'Lato';
		font-style: normal;
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		text-transform: uppercase;
		color: #272733;	
		margin-left: 10px;	
	}
}
.header { 
	width: 100%;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	z-index: 55;
	background: rgba(16, 16, 29, 0.9);
	padding: 32px 16px;
	.header-container { 
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo { 
			width: 100%;
			display: block;
			max-width: 248px;
			img { 
				width: 100%;
			}
		}
		.header-container__navigation { 
			display: flex;
			justify-content: flex-end;
			align-items: center;
			.navigation__item { 
				margin-left: 60px;
				&:first-child{
					margin-left: 0;
				}
				.navigation__link { 
					font-family: 'Lato';
					font-style: normal;
					font-weight: 600;
					font-size: 13px;
					line-height: 16px;
					text-transform: uppercase;
					color: #FFFFFF;
					transition: all 0.5s;
					&:hover{
						color: #43ABF0;
					}
				}
			}
		}
		.burgermenu_btn { 
			width: 30px;
			display: none;
			span { 
				width: 100%;
				display: block;
				height: 2px;
				margin-bottom: 4px;
				background-color: #fff;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}
.main { 
	width: 100%;
	position: relative;
	padding: 202px 16px;
	.main__bg { 
		width: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
		height: 100%;
		position: absolute;
	}
	.main-container { 
		position: relative;
		z-index: 2;
		.section_title { 
			margin-bottom: 80px;
			max-width: 806px;
		}
		.main-container__subtitle { 
			font-family: 'Lato';
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
			color: #000000;
			margin-bottom: 10px;			
		}
		.main-container__list { 
			width: 100%;
			.list__item { 
				font-family: 'Lato';
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 24px;
				margin-bottom: 4px;
				color: #000000;
				position: relative;
				padding-left: 26px;
				&::before{
					content: "";
					width: 6px;
					height: 2px;
					position: absolute;
					background: #000;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}

		.main-container__buttons { 
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			margin-top: 80px;
			.oreder-btn { 
				background: #3E9CDC;
				border: 1px solid #FFFFFF;
				color: #FFFFFF;
				margin-right: 30px;
				&:hover{
					background: #1f6899;
				}
			}
			.more-btn { 
				background: #FFFFFF;
				border: 1px solid #6F6D7B;
				&:hover{
					background: #a09d9d;
				}
			}
		}
	}
}
.checkout { 
	width: 100%;
	position: relative;
	padding: 122px 16px 150px;
	.checkout-bg{
		width: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
		height: 100%;
		position: absolute;
	}
	.checkout-container { 
		position: relative;
		z-index: 2;
		.checkout-container__title { 
			text-align: center;
			margin-bottom: 80px;
			.section_title { 
				margin-bottom: 30px;
				color: #FFF;
			}
			.checkout-container__subtitle { 
				font-family: 'Lato';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 22px;
				color: #BBBBBB;				
			}
		}
		.checkout-container__scheme { 
			width: 100%;
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-gap: 30px;
			margin-bottom: 80px;
			.scheme__item { 
				width: 100%;
				position: relative;
				.bullets{
					position: absolute;
					display: flex;
					justify-content: space-between;
					align-items: center;
					max-width: 110px;
					width: 100%;
					left: 80%;
					top: 48px;
					span{
						display: block;
						width: 6px;
						height: 6px;
						background: #C4C4C4;
						border-radius: 50%;
					}
				}
				&:nth-child(5n+5){
					.bullets{
						display: none;
					}
				}
				.scheme__item-icon { 
					width: 100%;
					max-width: 100px;
					margin: 0 auto 20px;
					.icon { 
						width: 100%;
						height: 100px;
					}
				}
				.scheme__item-name { 
					font-family: 'Lato';
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 19px;
					text-align: center;
					width: 100%;
					color: #FFFFFF;
				}
			}
		}
		.checkout-container__form { 
			width: 100%;
			.form__grid { 
				width: 100%;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 30px;
				margin-bottom: 30px;
			}

			.form__bottom { 
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 40px;
				.range{
					max-width: 66.49%;
					margin-right: 10px;
				}
				.input-file{
					max-width: 31.62%;
				}
			}

			.input-btn { 
				width: 100%;
				max-width: 370px;
				display: block;
				margin: 0 auto;
				input { 
					max-width: unset;
					background: #3E9CDC;
					border: 1px solid #FFFFFF;
					border-radius: 4px;
					color: #FFF;
					cursor: pointer;
					&:hover{
						background: #1f6899;
					}
				}
			}
		}
	}
}
.footer { 
	width: 100%;
	padding: 30px 16px;
	background: #3D4050;
	.footer__container { 
		display: flex;
		justify-content: space-between;
		align-items: center;
		.footer__rights { 
			font-family: 'Lato';
			font-style: normal;
			font-weight: 400;
			font-size: 13px;
			line-height: 16px;
			color: #FFFFFF;
		}
		.footer__pays { 
			padding: 0 40px;
			margin: 0 40px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			max-width: 476px;
			border-left: 1px solid #C3C3C3;
			border-right: 1px solid #C3C3C3;
			.pays-item { 
				display: flex;
				justify-content: flex-start;
				align-items: center;
				font-family: 'Lato';
				font-style: normal;
				font-weight: 400;
				font-size: 13px;
				line-height: 16px;
				text-transform: uppercase;
				color: #C3C3C3;
				.icon { 
					margin-right: 10px;
				}
			}
		}
		.footer__contacts { 
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			max-width: 310px;
			.contacts__item { 
				.contacts__item-link { 
					display: flex;
					justify-content: flex-start;
					align-items: center;
					font-family: 'Lato';
					font-style: normal;
					font-weight: 400;
					font-size: 13px;
					line-height: 16px;
					color: #FFFFFF;
					.icon { 
						margin-right: 10px;
					}
				}
			}
		}
	}
}
@media(max-width: 1190px){
	.section_title { 
		font-size: 48px;
		line-height: 58px;
	}
	.checkout { 
		padding: 122px 16px 150px;
		.checkout-container { 
			.checkout-container__title { 
				margin-bottom: 80px;
				.section_title { 
					margin-bottom: 30px;
				}
				.checkout-container__subtitle { 
					font-size: 18px;
					line-height: 22px;				
				}
			}
			.checkout-container__scheme { 
				grid-template-columns: repeat(4, 1fr);
				grid-gap: 30px;
				margin-bottom: 80px;
				.scheme__item { 
					.bullets{
						max-width: 110px;
						left: 80%;
						top: 48px;
						span{
							width: 6px;
							height: 6px;
						}
					}
					&:nth-child(5n+5){
						.bullets{
							display: flex;
						}
					}
					&:nth-child(4n+4){
						.bullets{
							display: none;
						}
					}
					.scheme__item-icon { 
						max-width: 100px;
						margin: 0 auto 20px;
						.icon { 
							height: 100px;
						}
					}
					.scheme__item-name { 
						font-size: 16px;
						line-height: 19px;
					}
				}
			}
			.checkout-container__form { 
				.form__grid { 
					grid-template-columns: repeat(3, 1fr);
					grid-gap: 30px;
					margin-bottom: 30px;
				}
				.form__bottom { 
					margin-bottom: 40px;
					.range{
						max-width: 66.49%;
						margin-right: 10px;
					}
					.input-file{
						max-width: 31.62%;
					}
				}
				.input-btn { 
					max-width: 370px;
				}
			}
		}
	}
	.footer { 
		padding: 30px 16px;
		.footer__container { 
			justify-content: center;
			flex-wrap: wrap;
			.footer__pays { 
				padding: 0;
				margin: 20px 0;
				border: unset;
				max-width: 476px;
				.pays-item { 
					font-size: 13px;
					line-height: 16px;
				}
			}
			.footer__contacts { 
				max-width: 310px;
				.contacts__item { 
					.contacts__item-link { 
						font-size: 13px;
						line-height: 16px;
						.icon { 
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
}
@media(max-width: 768px){
	.section_title { 
		font-size: 30px;
		line-height: 40px;
	}
	.select-label { 
		.select{
			.select__title{
				height: 48px;
				.select__value {
					span{
						font-size: 18px;
						line-height: 22px;
					}
					&::before{
						width: 20px;
						height: 20px;
					}
				}
			}
			.select__options{
				top: 48px;
				.select-options-box{
					height: 180px;
				}
			}
		}
	}
	.input-text { 
		input { 
			height: 48px;
			font-size: 18px;
			line-height: 22px;
		}
	}
	.range { 
		.range__text { 
			margin-bottom: 16px;
			.range__name { 
				font-size: 12px;
				line-height: 14px;
			}
			.range__value { 
				font-size: 12px;
				line-height: 14px;
			}
		}
	
		.input-range { 
			input { 
				height: 6px;
				&::-webkit-slider-thumb{
					width: 24px;
					height: 24px;
				}
			}
		}
	}
	.header { 
		padding: 20px 16px;
		.header-container { 
			.logo { 
				max-width: 180px;
			}
			.header-container__navigation { 
				position: fixed;
				right: 0;
				top: 56px;
				background: rgba(16, 16, 29, 0.9);
				flex-direction: column;
				padding: 20px 0;
				overflow: hidden;
				transition: all 0.5s;
				width: 0;
				max-width: unset;
				height: 100vh;
				justify-content: flex-start;
				.navigation__item { 
					margin: 0;
					padding: 10px;
					min-width: max-content;
					.navigation__link { 
						font-size: 14px;
						line-height: 16px;
					}
				}
			}
	
			.burgermenu_btn { 
				display: block;
				span{
					position: relative;
					transition: all 0.5s;
				}
				&.active{
					span{
						&:first-child{
							transform: rotate(45deg);
							top: 6px;
						}
						&:nth-child(2){
							transform: rotate(-45deg);
						}
						&:last-child{
							display: none;
						}
					}
				}
			}
		}
	}
	.main { 
		padding: 100px 16px;
		.main-container { 
			position: relative;
			z-index: 2;
			.section_title { 
				margin-bottom: 40px;
			}
			.main-container__subtitle { 
				font-size: 18px;
				line-height: 22px;			
			}
			.main-container__list { 
				.list__item { 
					font-size: 16px;
					line-height: 22px;
					padding-left: 16px;
				}
			}
	
			.main-container__buttons { 
				margin-top: 40px;
				.oreder-btn { 
					background: #3E9CDC;
					border: 1px solid #FFFFFF;
					color: #FFFFFF;
					margin-right: 30px;
				}
				.more-btn { 
					background: #FFFFFF;
					border: 1px solid #6F6D7B;
				}
			}
		}
	}
	.checkout { 
		padding: 80px 16px;
		.checkout-container { 
			.checkout-container__title { 
				margin-bottom: 40px;
				.section_title { 
					margin-bottom: 20px;
				}
				.checkout-container__subtitle { 
					font-size: 14px;
					line-height: 18px;				
				}
			}
			.checkout-container__scheme { 
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 20px;
				margin-bottom: 40px;
				.scheme__item { 
					.bullets{
						max-width: 60px;
						left: 80%;
						top: 30px;
						span{
							width: 6px;
							height: 6px;
						}
					}
					&:nth-child(4n+4){
						.bullets{
							display: flex;
						}
					}
					&:nth-child(3n+3){
						.bullets{
							display: none;
						}
					}
					.scheme__item-icon { 
						max-width: 60px;
						margin: 0 auto 10px;
						.icon { 
							height: 60px;
						}
					}
					.scheme__item-name { 
						font-size: 14px;
						line-height: 18px;
					}
				}
			}
			.checkout-container__form { 
				.form__grid { 
					grid-template-columns: repeat(3, 1fr);
					grid-gap: 10px;
					margin-bottom: 20px;
				}
				.form__bottom { 
					margin-bottom: 30px;
					.range{
						max-width: 60%;
						margin-right: 10px;
					}
					.input-file{
						max-width: 40%;
					}
				}
				.input-btn { 
					max-width: 370px;
				}
			}
		}
	}
}
@media(max-width: 520px){
	.section_title { 
		font-size: 18px;
		line-height: 28px;
	}
	.select-label { 
		.select{
			.select__title{
				height: 40px;
				.select__value {
					span{
						font-size: 16px;
						line-height: 22px;
					}
				}
			}
		}
	}
	.input-text { 
		input { 
			height: 40px;
			font-size: 16px;
		}
	}
	.btn{
		max-width: unset;
	}
	.main { 
		padding: 80px 16px 24px;
		.main-container { 
			position: relative;
			z-index: 2;
			.section_title { 
				margin-bottom: 40px;
			}
			.main-container__subtitle { 
				font-size: 16px;
				line-height: 22px;			
			}
			.main-container__list { 
				.list__item { 
					font-size: 14px;
					line-height: 22px;
					padding-left: 16px;
				}
			}
	
			.main-container__buttons { 
				flex-direction: column;
				.oreder-btn { 
					margin-right: 0;
					margin-bottom: 20px;
				}
			}
		}
	}
	.checkout { 
		padding: 24px 16px;
		.checkout-container { 
			.checkout-container__title { 
				margin-bottom: 30px;
				.section_title { 
					margin-bottom: 10px;
				}
				.checkout-container__subtitle { 
					font-size: 12px;
					line-height: 14px;				
				}
			}
			.checkout-container__scheme { 
				grid-template-columns: repeat(2, 1fr);
				margin-bottom: 30px;
				.scheme__item { 
					.bullets{
						max-width: 60px;
						left: 86%;
						top: 30px;
						span{
							width: 6px;
							height: 6px;
						}
					}
					&:nth-child(3n+3){
						.bullets{
							display: flex;
						}
					}
					&:nth-child(2n+2){
						.bullets{
							display: none;
						}
					}
					.scheme__item-icon { 
						max-width: 60px;
						margin: 0 auto 10px;
						.icon { 
							height: 60px;
						}
					}
					.scheme__item-name { 
						font-size: 14px;
						line-height: 18px;
					}
				}
			}
			.checkout-container__form { 
				.form__grid { 
					grid-template-columns: repeat(1, 1fr);
					grid-gap: 10px;
					margin-bottom: 20px;
				}
				.form__bottom { 
					margin-bottom: 30px;
					flex-direction: column;
					.range{
						max-width: 100%;
						margin-right: 10px;
					}
					.input-file{
						max-width: 100%;
						margin-top: 20px;
					}
				}
				.input-btn { 
					max-width: unset;
				}
			}
		}
	}
	.footer { 
		padding: 20px 16px;
		.footer__container {
			.footer__pays { 
				flex-direction: column;
				.pays-item { 
					padding: 6px 0;
				}
			}
		}
	}
}